{{define "content"}}
<h2>Главная</h2>
<p>Админ Панель SMP97</p>

<div class="row g-4 mt-3">
    <!-- Example Card 1 -->
    <div class="col-md-6 col-lg-3">
        <div class="card shadow">
            <div class="card-body">
                <h5 class="card-title">Всего пользователей</h5>
                <p class="card-text fs-3">{{.TotalUsers}}</p>
            </div>
        </div>
    </div>

    <!-- Example Card 2 -->
    <div class="col-md-6 col-lg-3">
        <div class="card shadow">
            <div class="card-body">
                <h5 class="card-title">Всего покупок</h5>
                <p class="card-text fs-3">{{.ActiveSubscriptions}}</p>
            </div>
        </div>
    </div>

    <!-- Example Card 3 -->
    <div class="col-md-6 col-lg-3">
        <div class="card shadow">
            <div class="card-body">
                <h5 class="card-title">Покупок за сегодня</h5>
                <p class="card-text fs-3">{{.RequestsSold}}</p>
            </div>
        </div>
    </div>

    <!-- Example Card 4 -->
    <div class="col-md-6 col-lg-3">
        <div class="card shadow">
            <div class="card-body">
                <h5 class="card-title">Покупки за последний месяц</h5>
                <p class="card-text fs-3">{{.PremiumSold}}</p>
            </div>
        </div>
    </div>
</div>
{{end}}