services:
    # NGINX

    nginx:
        image: nginx:latest
        container_name: nginx
        ports:
            - "80:80"
        volumes:
            - ./deployment/local/nginx/nginx.conf:/etc/nginx/nginx.conf:ro
        # - ./dist:/usr/share/nginx/html:ro
        networks:
            - constructions_network

    # Admin Panle

    admin:
        build:
            dockerfile: deployment/local/docker/admin.Dockerfile
        container_name: admin
        volumes:
            - ./services/admin/.env:/app/.env
            - ./services/admin/templates/:/app/templates
            - ./services/admin/migrations/:/app/migrations
            - ./services/admin/img/:/app/img
        ports:
            - ":8080"
        networks:
            - constructions_network

    admin_db:
        image: postgres:15
        container_name: admin_db
        env_file:
            - ./services/admin/.env
        volumes:
            - ./.data/pgdata_admin:/var/lib/postgresql/data
        ports:
            - ":5432"
        networks:
            - constructions_network

    # Main app
    constructions_service:
        build:
            dockerfile: deployment/local/docker/construction.Dockerfile
        container_name: constructions_service
        volumes:
            - ./.env:/app/.env
            - ./services/constructions/migrations:/app/migrations
            - ./uploads:/app/uploads
            - ./img:/app/img
            - ./templates:/app/templates
        ports:
            - ":8080"
        networks:
            - constructions_network

    construction_db:
        image: postgres:15
        container_name: ${MAIN_DB_HOST}
        env_file:
            - ./.env
        volumes:
            - ./.data/pgdata_construction:/var/lib/postgresql/data
        ports:
            - ":${MAIN_DB_PORT}"
        environment:
            POSTGRES_USER: ${MAIN_DB_USER}
            POSTGRES_PASSWORD: ${MAIN_DB_PASSWORD}
            POSTGRES_DB: ${MAIN_DB_NAME}
        depends_on:
            - constructions_service
        networks:
            - constructions_network

networks:
    constructions_network:
        driver: bridge
        name: constructions_network
